---
layout: base.njk
---

<article>
    <h1>{{ title }}</h1>
    {{ intro | markdownify | safe}}

    <h2>Ingredients</h2>
    {{ ingredients | markdownify | safe }}

    <h2>Steps</h2>
    {{ steps | markdownify | safe }}
</article>