---
layout: recipe.njk
---

# {{ title }}

<div id="intro">

{{ intro }}

</div>

<section id="recipe">
<h2 id="title">{{ title }}</h2>
<span><strong>Yield: {{ yield }}</strong></span>

{% include 'abbr.liquid' %}

### Ingredients

{{ ingredients }}

## Steps

{{ steps }}

{% if references %}

## References

{{ references }}
{% endif %}

</section>

