---
layout: base.njk
---

<article>
    <h1>{{ title }}</h1>
    {{ intro | markdownify | safe}}

    <section id="recipe">
        <h2>{{ title }}</h2>
        <section id="ingredients">
        <h2>Ingredients</h2>
        {{ ingredients | markdownify | safe }}
        </section>
        <section id="steps">
        <h2>Steps</h2>
        {{ steps | markdownify | safe }}
        </section>
    </section>
</article>