---
layout: base.njk
---

<article>
    <h1>{{ title }}</h1>
    {{ intro | markdownify | safe}}

    <section id="recipe">
        <h2 id="title">{{ title }}</h2>
        <section id="ingredients">
        <h3>Ingredients</h3>
        {{ ingredients | markdownify | safe }}
        </section>
        <section id="steps">
        <h3>Steps</h3>
        {{ steps | markdownify | safe }}
        </section>
    </section>
</article>