:root {
  --site-width: 64rem;
  --color-main-a: #333;
  --color-main-b: #EEE;
  --color-accent-a: #336699; // https://www.w3schools.com/colors/colors_picker.asp
  --color-accent-b: #9fbfdf;
  --color-accent-c: #c6d9ec;
}

body {
  font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif; 
  font-weight: normal;
  font-display: swap;
  font-size: 1.25rem;
  height: 100vh;
  // line-height: 4rem;

  overflow-x: auto;
  overflow-y: scroll;
  margin: 0 auto;

  min-width: 320px;

  background-color: var(--color-main-b);
  color: var(--color-main-a);

  // cursor: url("/assets/images/cursor-pointer.png") 12 0,auto;

  .color-scheme-wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    min-height:100vh;
  }
}


#nav-wrapper {
  padding: 1rem;

  #site-logo-text {
    // text-align: center;
    // text-transform: uppercase;
    font-size: 3.5rem;
    margin: 0 auto 1rem auto;
    max-width: var(--site-width);
    text-align: center;

    a {
      text-decoration: none;
      color: #111;
      font-weight: bold;
    }
  }

  #header-nav-bar {
    margin: 0 auto;
    nav {
      display: flex;
      justify-content: center;
      align-items: center;
    
      margin: 0 auto;
      // padding: 1rem 0;
      max-width: var(--site-width);
    
      a {
        display: block;
        padding: 1rem;
 
        text-decoration: none;
        margin-right: 1rem;

        font-weight: bold;

        color: #111;
      }
    }
  }

}

#main-wrapper {
  main {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: var(--site-width);
  }
}

#footer-wrapper {
  footer {
    margin: 0 auto;
    max-width: var(--site-width);
    // color: var(--color-background);
    padding: 1rem 1rem;
    text-align: center;

    a {
      text-decoration: none;
    }
  }
}


#recipe {
    outline: 0.25rem dashed var(--color-accent-c);
  outline-offset: 0;
  background-color: var(--color-accent-c);
  padding: 2rem;
}

img {
    display: block;
    // max-height:95px;
    width: 100%;
    height: auto;
  }

@media (min-width: 65rem) {
  #main-wrapper {
    main {
      padding: 0;
    }
  }
}