/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}


/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}


:root {
  --site-width: 50rem;
  --color-main-a: #333;
  --color-main-b: #EEE;
  --color-accent-a: #336699; // https://www.w3schools.com/colors/colors_picker.asp
  --color-accent-b: #9fbfdf;
  --color-accent-c: #c6d9ec;
}

body {
  font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif; 
  font-weight: normal;
  font-display: swap;
  font-size: 1.25rem;
  height: 100vh;
  // line-height: 4rem;

  overflow-x: auto;
  overflow-y: scroll;
  margin: 0 auto;

  min-width: 320px;

  background-color: var(--color-main-b);
  color: var(--color-main-a);

  // cursor: url("/assets/images/cursor-pointer.png") 12 0,auto;

  .color-scheme-wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    min-height:100vh;
  }
}


h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 1rem;
}

#nav-wrapper {
  padding: 1rem;

  #site-logo-text {
    // text-align: center;
    // text-transform: uppercase;
    font-size: 2rem;
    margin: 0 auto 1rem auto;
    max-width: var(--site-width);
    text-align: center;

    a {
      text-decoration: none;
      color: #111;
      font-weight: bold;
    }
  }

  #header-nav-bar {
    margin: 0 auto;
    nav {
      display: flex;
      justify-content: center;
      align-items: center;
    
      margin: 0 auto;
      // padding: 1rem 0;
      max-width: var(--site-width);
    
      a {
        display: block;
        padding: 1rem;
 
        text-decoration: none;
        margin-right: 1rem;

        font-weight: bold;

        color: #111;
      }
    }
  }

}


ol {
  ol {
    list-style-type: lower-alpha;
  }
}

li {
  p {
    margin: 0 auto;
  }
  & + li {
    margin-top: 0.5rem;
  }
}

#main-wrapper {
  main {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: var(--site-width);
  }
}

#footer-wrapper {
  footer {
    margin: 0 auto;
    max-width: var(--site-width);
    // color: var(--color-background);
    padding: 1rem 1rem;
    text-align: center;

    a {
      text-decoration: none;
    }
  }
}


#recipe {
    outline: 0.25rem dashed var(--color-accent-c);
  outline-offset: 0;
  background-color: var(--color-accent-c);
  padding: 2rem;
  margin-top: 2rem;

  #title {
    border-bottom: 0.25rem dashed var(--color-main-b);
    padding-bottom: 1rem;
  }
}

img {
    display: block;
    // max-height:95px;
    width: 100%;
    height: auto;
  }

img#hero {
  max-height: 16rem;
  width: auto;
  margin: 0 auto; 
}

@media (min-width: 65rem) {
  #main-wrapper {
    main {
      padding: 0;
    }
  }
}